<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>greenpay</title>
</head>
<body>
	<div>
		<table>
			<tr>
				<th>ID</th>
				<th>商品名</th>
				<th>店舗ID</th>
				<th>カテゴリーID</th>
				<th>単価</th>
				<th>状態</th>
				<th>登録日時</th>
				<th>更新日時</th>
			</tr>

			<tr th:each="product : ${products}">
				<td th:text="${product.id}"/>
				<td th:text="${product.name}"/>
				<td th:text="${product.storeId}"/>
				<td th:text="${product.categoryId}"/>
				<td th:text="${product.price}"/>
				<td th:text="${product.activated}"/>
				<td th:text="${product.createdAt}"/>
				<td th:text="${product.updatedAt}"/>
				<td>
					<form th:action="@{/product/update}" method="get">
						<input type="hidden" name="id" th:value="${product.id}"/>
						<input type="submit" value="編集"/>
					</form>
				</td>
			</tr>
		</table>

		<div>
			<form th:action="@{/product/create}" method="get">
				<input type="submit" value="登録"/>
			</form>
		</div>
	</div>
</body>
</html>