<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>greenpay</title>
</head>
<body>
	<form th:action="@{/store/category/update}" method="post">
		<div>
			<label for="name">カテゴリー名</label>
			<input type="text" name="name" maxlength="64" th:value="${category.name}" />
		</div>

		<input type="hidden" name="id" th:value="${category.id}"/>
		<input type="hidden" name="createdAt" th:value="${category.createdAt}"/>

		<div>
			<input type="submit" value="更新" />
		</div>
	</form>
</body>
</html>