<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>
	会計フォーム
	</title>
	</head>
	<body>
	</body>
	<form method="post" th:action="@{/store/calculate/cashregister}">
	<input type="text" name="productId" required="required" autofocus="autofocus">商品ID<br>
	<input type="text" name="quantity" required="required">個数
	<input type="hidden" name="number" th:value="${number}">
	<input type="submit" value="追加"> 
	
	</form>
	
	<table class="ui green table">
		<tr>
			<th>商品名</th>
			<th>個数</th>
			<th>価格</th>
		</tr>
		<div th:if="${nothingError}"/>
		<div class="ui negative icon message">
		<i class="warning sign icon"></i>
		<div class="content">
			<div class="header">
			問題が発生しました．
			</div>
			<p>この商品は取扱っておりません</p>
			</div>
			</div>
			
		<tr th:each=" calculate : ${calculateList}">
			<td th:text="${calculate.name}"></td>
			<td th:text="${calculate.quantity}"></td>
			<td th:text="${calculate.price}+'円'"></td>
			
		</tr>
	</table>
	
	</html>