<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>利用履歴</title>
</head>
<body>
	<div layout:fragment="contents">
		<br>
		<div class="ui raised segment" style="margin-left: 60px; margin-right: 60px;">
			<div class="ui huge green label">購入履歴</div>
			<br> <br>

			<table class="ui celled table">
				<thead>
					<tr>
						<th>電子マネーID</th>
						<th>店舗名</th>
						<th>購入日時</th>
						<th>合計金額</th>
						<th>詳細</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="history : ${history}">
						<td th:text="${history.moneyId}" />
						<td th:text="${history.store.name}" />
						<td th:text="${#temporals.format(history.createdAt, 'yyyy年MM月dd日')}" />
						<td th:text="${history.amount}" />
						<td>
							<form th:action="@{/user/history}" method="post">
								<input type="hidden" name="id" th:value="${history.id}" />
								<input type="hidden" name="amount" th:value="${history.amount}" />
								<input type="submit" value="詳細" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>