<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/calendar.min.css}" />
<title>売上データ</title>
</head>
<body>
	<h2 th:text="${store.name} + の売上">大生の売上</h2>
	
	<h3>Month and year</h3>
	<form th:action="@{/store/salesvolumeForm}" method="GET">
	<div class="ui calendar" id="example7">
	<div class="ui input left icon">
	<i class="time icon"></i>
	<input type="text" name="month" placeholder="Month and Year">
	</div>
	</div>
	<input type="submit" value="送信">
	</form>
	<table>
		<tr>
			<th>商品名</th>
			<th>カテゴリ名</th>
			<th>価格</th>
			<th>個数</th>
			<th>購入日</th>
		</tr>
		<tr th:each="salesVolumes : ${salesVolumes}">
			<td th:text="${salesVolumes.product.Name}"></td>
			<td th:text="${salesVolumes.product.category.Name}"></td>
			<td th:text="${#numbers.formatInteger(salesVolumes.product.Price,3,'POINT')}"></td>
			<td th:text="${salesVolumes.purchaseHistoryDetail.Quantity}"></td>
			<td th:text="${#temporals.format(salesVolumes.purchaseHistory.CreatedAt, 'yyyy年MM月dd日')}"></td>
		</tr>
	</table>
</body>
<!-- javascript -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/semantic.min.js}"></script>
<script th:src="@{/js/calendar.min.js}"></script>
<script th:src="@{/js/datetimesetting.js}"></script>


</html>