<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>電子マネー残高検索フォーム</title>
</head>
<body>
	<div layout:fragment="contents">
		<br> <br>
		<div class="ui centered grid container">
			<div class="nine wide column">
				<div class="content">
					<div class="ui green inverted segment">
						<div class="ui text menu">
							<h1>チャージ</h1>
							<div class="right menu"></div>
						</div>
					</div>
					<div class="ui raised segment">
						<label>あなたの残高は、<br>
							<h1>
								<p th:text="${money.credit}"></p>
							</h1> 　　　　　　　円です。
						</label> <br> <br>

						<h1>チャージ金額を選択してください</h1>
						<form method="post" th:action="@{/chargeConfirm}">

							<button class="ui large green basic button" type="submit"
								name="chargemoney" value="1000">
								<font style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">1000円</font></font>
							</button>
							<button class="ui large green basic button" type="submit"
								name="chargemoney" value="2000">
								<font style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">2000円</font></font>
							</button>
							<button class="ui large green basic button" type="submit"
								name="chargemoney" value="3000">
								<font style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">3000円</font></font>
							</button>
							<button class="ui large green basic button" type="submit"
								name="chargemoney" value="5000">
								<font style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">5000円</font></font>
							</button>
							<button class="ui large green basic button" type="submit"
								name="chargemoney" value="10000">
								<font style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">10000円</font></font>
							</button>
							<br> <br> <a class="ui button"
								th:href="@{/checkBalance}"> キャンセル </a>
							<div th:if="${upperLimitError}" />
							<div class="ui negative icon message">
								<i class="warning sign icon"></i>
								<div class="content">
									<div class="header">問題が発生しました．</div>
									<p>チャージ上限は20,000円です。</p>
								</div>
							</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	</div>
</body>
</html>